//
// SETUP / FONTS
//-----------------------------------------------------------------------

// Karla
// -------------------------

@font-face {
  font-family: 'Karla';
  src: font-url('karla-light.woff2') format('woff2'),
       font-url('karla-light.woff') format('woff'),
       font-url('karla-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: font-url('karla-bold.woff2') format('woff2'),
       font-url('karla-bold.woff') format('woff'),
       font-url('karla-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
