//
// SETUP / KEYFRAMES
//-----------------------------------------------------------------------

@keyframes slide-up-in {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rundkvist-in {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
}

@keyframes main-kvist-in {
  from {
    transform: translateX(50%);
  }
}

@keyframes side-kvist-in {
  from {
    transform: translateX(50%);
  }
}
