//
// LAYOUT / MAIN
//-----------------------------------------------------------------------

.l-main {
  margin: $space-large $space-small;
  max-width: 60rem;

  @media #{$medium} {
    margin: $space-large-md $space-small-md;
  }
}
