<!doctype html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Robin Rundkvist – Gränssittsdesigner</title>
    <%= favicon_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body>
    <%= inline_svg_sprite %>
    <%= yield %>
  </body>
</html>
