//
// BASE / RESET
//-----------------------------------------------------------------------

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}

html {
  box-sizing: border-box;
  min-height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: $body-bg-color;

  * + * {
    margin-top: $space-large;

    @media #{$medium} {
      margin-top: $space-large-md;
    }
  }
}

img {
  max-width: 100%;
  vertical-align: middle;

  &[width],
  &[height] {
    max-width: none;
  }
}

ul, ol, {
  list-style: none;
}
