//
// BASE / TYPE
//-----------------------------------------------------------------------

body {
  font-family: $font-regular;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $fg-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media #{$medium} {
    line-height: $base-line-height-md;
    font-size: $base-font-size-md;
  }
}

strong {
  font-weight: $bold-font-weight;
}


// Headings
// -------------------------

h1 {
  font-weight: $bold-font-weight;
  font-size: 1.675rem;
}


// Paragraphs
// -------------------------

p {
  max-width: 60ch;
}

p + p {
  margin-top: $space-small;

  @media #{$medium} {
    margin-top: $space-small-md;
  }
}


// Links
// -------------------------

a {
  color: currentColor;
  font-weight: $bold-font-weight;
  text-decoration: underline;

  &:hover, &:focus {
    text-decoration: none;
  }
}
