//
// UTILITIES / SPACING
//-----------------------------------------------------------------------

.u-lobotomized-owl {
  * + * {
    margin-top: 0.75rem;
  }

  @media #{$medium} {
    * + * {
      margin-top: 1rem;
    }
  }

  @media #{$large} {
    * + * {
      margin-top: 1.5rem;
    }
  }
}

.u-margin-top {
  margin-top: 1rem !important;
}

.u-margin-top-small {
  margin-top: 0.3rem !important;
}

.u-margin-top-medium {
  margin-top: 1.5rem !important;
}

.u-margin-top-none {
  margin-top: 0 !important;
}
