//
// UTILITIES / TYPE
//-----------------------------------------------------------------------

.u-h1 {
  font-size: 3rem;
}

.u-text-center {
  text-align: center;
}

.u-text-small {
  font-size: 0.75rem;
}

.u-text-huge {
  font-size: 3rem;
}
