//
// COMPONENTS / NOTICE
//-----------------------------------------------------------------------

.c-notice {
  position: relative;
  padding: $space-base $space-small;
  padding-bottom: $space-large;
  border: 3px solid #b8bec7;
  border-radius: 7px;
  text-align: center;

  @media #{$medium} {
    padding: $space-large-md $space-huge-md;
    padding-bottom: $space-xlarge-md;
  }
}

.c-notice__icon {
  position: absolute;
  z-index: 2;
  top: -15px;
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  background-color: $white;
  box-shadow: 0 0 0 $space-xsmall $white;
  color: #b8bec7;

  @media #{$medium} {
    top: -20px;
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
  }
}

.c-notice__action {
  margin-top: 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  box-shadow: 0 0 0 $space-xsmall $white;
}
