//
// COMPONENTS / SECTION
//-----------------------------------------------------------------------

.c-section {
  margin-top: $space-huge;

  > * + * {
    margin-top: 0;
  }

  @media #{$medium} {
    display: flex;
    align-items: flex-start;
    margin-top: $space-huge-md * 2;
  }
}

.c-section__figure {
  display: flex;
  color: #b8bec7;

  @media #{$medium} {
    align-items: center;
    justify-content: center;
    margin-right: $space-base-md;
    flex: 1 0 auto;
    width: 7.5rem;
    height: 7.5rem;
  }

  @media #{$large} {
    margin-right: $space-large-md;
  }
}

.c-section__body {
  margin-top: $space-base;

  @media #{$large} {
    margin-top: $space-small;
  }
}

.c-section__title {
  margin-bottom: $space-base;

  @media #{$large} {
    margin-bottom: $space-base-md;
  }
}
